body {
}

/*Modal Popup*/
.modalBackground {
	background-color:Black;
	filter:alpha(opacity=70);
	opacity:0.7;
}

.modalPopup {
	background-color:white;
	border-width:3px;
	border-style:solid;
	border-color:black;
	padding:7px;
	text-align:center;
}
.hidden {display:none}
